<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>

</head>
<header>
</header>

<body>
    <div>
        <h1>linksite</h1>
        <h2>El lugar donde puedes almacenar tus enlaces de forma eficiente</h2>
        <img src="" alt="">
    </div>
    <div>
        <div>
            <h3>Fingiendoestarconectados</h3>
            <div>
                <p>
                    <%= e._id %>
                        <%= e.email %>
                </p>
            </div>
            <a href="/logout"><input type="submit" value="Desconectar"></a>
        </div>
    </div>
</body>

</html>