<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>

</head>
<header>
</header>

<body>
    <div>
        <h1>linksite</h1>
        <h2>El lugar donde puedes almacenar tus enlaces de forma eficiente</h2>
        <img src="" alt="">
    </div>
    <div>
        <div>
            <p>error!!!</p>
            <form action="login" method="post">
                <h3>Bienvenido a LinkSite!</h3>
                <p>Has ingresado un email no válido!</p>

                <p><input type="text" placeholder="Correo electrónico" name="email"></p>
                <p><input type="password" placeholder="Contraseña" name="password"></p>
                <input type="submit" value="Iniciar sesión">
            </form>
            <a href="#">
                <p>¿Has olvidado la contraseña?</p>
            </a>
            <a href="/register"><input type="submit" value="Crear cuenta nueva"></a>
        </div>
    </div>
</body>

</html>